@model KGSBrowseMVC.Models.Model

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>KGSBrowse LAS file displays using C3.</h1>
            </hgroup>
            <h2>Displays well logs.</h2>


            @*<div>
                <span>Viewdata = </span>   @ViewData["text"]
            </div>
            <div>
                <span>Model text = </span> @Model.TheText
            </div>*@

            @*<link href="well.css" rel="stylesheet" type="text/css">*@

            <link href="c3.css" rel="stylesheet" type="text/css">
            <script> src = "d3.js" </script>
            <script> src = "c3.js" </script>
            
            <div id="chart"></div>

            <script type="text/javascript">
                var chart = c3.generate({
                    bindto: '#chart',
                    data: {
                        columns: [
                        ['data1', 30, 200, 100, 400, 150, 250],
                        ['data2', 50, 20, 10, 40, 15, 25]
                        ]
                    }
                });
            </script>

            <h1>JSON data from server plotted by C3JS (D3JS wrapper).</h1>


            <h1>JSON data from server.</h1>

            @* Chart holder for C3JS display *@
            <span>Model text = </span> @Model.ReturnedValue

            

    @*<script type="text/javascript">

                    var depthMnemonic = "DEPT";
                    var jSonString = "@Model.ReturnedValue";
                    var chart = c3.generate({
                            bindto: "#chart",
                            size: {
                                height: 640,
                                width: 300
                            },
                            data: {
                                x: depthMnemonic,
                                json: jSonString
                            },
                            axis: { "rotated": true },
                            point: { "show": false }
                        });

            </script>*@
    </div>
</section>
</div>
