<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>KGSBrowse LAS file displays using C3.</h1>
                <h2>Displays well logs.</h2>
            </hgroup>

            <script type="text/javascript" charset="utf-8">
                $(function () {
                    alert('hi there');
                }) </script>



            // Load d3.js and c3.js
            <script type="text/javascript" src="d3.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="c3.min.js" charset="utf-8"></script>

            @* Chart holder for C3JS display *@
            <div id="chart"></div>

            <script type ="text/javascript" charset="utf-8">
                var chart = c3.generate({
                bindto: '#chart',
                size: {
                height: 640,
                width: 300
                },
                data: {
                x: depthMnemonic,
                json: JSONString
                },
                axis: { 'rotated': true },
                point: { 'show': false }

                });
                </script>
        </div>
    </section>
</div>
